section(id="about" class="d-flex flex-column justify-content-center my-5" style="min-height: 100%;")
  div(class="jumbotron bg-transparent my-auto mx-auto text-center")
    h1(class="display-4") Lorem Ipsum
    p(class="lead") Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli.
    hr(class="my-4")
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 