div(id="about" class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 100%;")  
    img(src="/images/thumbnails/profile.jpg" class="rounded-circle border border-light shadow-sm" style="height:auto; width: 15%")
    // Content
    h1(class="display-4 my-4") Hi there.
    p(class="lead w-75") My name is Jerry and I am a recent computer science graduate from San Francisco State. I am an 
      span aspiring, multi-disciplinary developer who emphasises minimal and function-first design. I have a passion for designing 
      span intuitive products that focuses on improving the lives of my users.
    // Contact
    p(class="lead my-4") To keep in touch, simply 
      a(href="mailto:jewong42@outlook.com") email
      span  or add me on 
      a(href="https://linkedin.com/in/jewong42/") LinkedIn
      span .
    // Links
    p
      a(class="mx-2" href="https://linkedin.com/in/jewong42/")
        img(src="/images/icons/GitHub-Mark-64px.png" class="rounded-circle" style="height:auto; width: 2rem")
      a(class="mx-2" href="https://github.com/jewong42")
        img(src="/images/icons/In-Blue-72@2x.png" class="rounded-circle" style="height:auto; width: 2rem")