div(id="about" class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 100%;")  
    img(src="/images/thumbnails/profile.jpg" class="rounded-circle img-thumbnail shadow" style="height:auto; width: 12rem")
    h(class="display-4 my-4") Hi there.
    p(class="lead") My name is Jerry and I am a full-stack developer.
    div(class="navbar navbar-light justify-content-center d-md-none")
        ul(id="links" class="navbar-nav flex-row my-3")
            li(class="nav-item mb-3")
                a(class="mx-2" href="https://github.com/jewong42" target="_blank")
                    img(src="/images/icons/GitHub-Mark-64px.png" class="rounded-circle" style="height:auto; width: 2rem")
            li(class="nav-item mb-3")
                a(class="mx-2" href="https://linkedin.com/in/jewong42/" target="_blank")
                        img(src="/images/icons/In-Blue-72@2x.png" class="rounded-circle" style="height:auto; width: 2rem")