div(id="contact" class="d-flex flex-column justify-content-center align-items-center text-center py-5" style="min-height: 100%;")  
  // - Title
  h2(class="font-weight-normal") Contact
  h(class="mb-5 font-weight-light") 
  // - Content
  h(class="lead")
    span I'm currently available for projects. <br> The best way to get in touch is by sending me an 
    a(href="mailto:jewong42@outlook.com") email
    span  or by adding me on 
    a(href="https://linkedin.com/in/jewong42/" target="_blank") Linkedin
    span . 
  h(class="mt-5 font-weight-light") Thanks for getting this far. I hope you liked what you saw.