div(id="contact" class="d-flex flex-column justify-content-center align-items-center text-center py-5" style="min-height: 100%;")  
  h2(class="font-weight-normal mb-5") Contact
  h(class="lead mb-5")
    span I'm current available for projects. <br> The best way to get in touch is by sending me an 
    a(href="mailto:jewong42@outlook.com") email
    span  or by adding me on 
    a(href="https://linkedin.com/in/jewong42/") Linkedin
    span . 
  h(class="font-weight-light") I'm looking foward to meeting you.