div(id="about" class="row h-100")  
  div(class="jumbotron bg-transparent my-auto mx-auto text-center")
    img(src="/images/profile.jpg" class="rounded-circle border border-light shadow-sm" style="height:auto; width: 15%")
    h1(class="display-4") Jerry Wong
    p(class="lead") Recent computer science graduate from San Francisco State, specializing in android, game, and web development.
    hr(class="my-4")
    a(class="mx-2" href="#intro")
      img(src="/images/icons/GitHub-Mark-64px.png" class="rounded-circle" style="height:auto; width: 32px")
    a(class="mx-2" href="#intro")
      img(src="/images/icons/In-Blue-72@2x.png" class="rounded-circle" style="height:auto; width: 32px")