nav(class="navbar h-100 navbar-light")
  ul(id="nav" class="navbar-nav flex-column my-auto mx-auto text-center")
    li(class="nav-item mb-3")
      a(class="nav-link" href="#about") About
    li(class="nav-item mb-3")
      a(class="nav-link" href="#skills-and-education") Skills and Education
    li(class="nav-item mb-3")
      a(class="nav-link" href="#projects") Projects
    li(id="test" class="nav-item mb-3")
