div(id="nav" class="row h-100")  
  ul(class="nav nav-pills flex-column my-auto mx-auto text-center")
    li(class="nav-item mb-3")
      a(class="nav-link" href="#intro") Intro
    li(class="nav-item mb-3")
      a(class="nav-link" href="#about") About
    li(class="nav-item")
      a(class="nav-link" href="#projects") Projects