div(class="navbar navbar-light h-100 justify-content-center text-center")
  ul(id="nav" class="navbar-nav")
    li(class="nav-item mb-3")
      a(class="nav-link" href="#about") About
    li(class="nav-item mb-3")
      a(class="nav-link" href="#skills-and-education") Skills and Education
    li(class="nav-item mb-3")
      a(class="nav-link" href="#projects") Projects
    li(class="nav-item mb-3")
      a(class="nav-link" href="#contact") Contact
div(class="navbar navbar-light justify-content-center border-top")
  ul(id="links" class="navbar-nav flex-row my-3")
    li(class="nav-item mb-3")
      a(class="mx-2" href="https://github.com/jewong42" target="_blank")
        img(src="/images/icons/GitHub-Mark-64px.png" class="rounded-circle" style="height:auto; width: 2rem")
    li(class="nav-item mb-3")
      a(class="mx-2" href="https://linkedin.com/in/jewong42/" target="_blank")
        img(src="/images/icons/In-Blue-72@2x.png" class="rounded-circle" style="height:auto; width: 2rem")