nav(class="navbar navbar-light h-100")
  ul(id="nav" class="nav nav-pills flex-column my-auto mx-auto text-center")
    li(class="nav-item mb-3")
      a(class="nav-link" href="#about") About
    li(class="nav-item mb-3")
      a(class="nav-link" href="#skills-and-education") Skills and Education
    li(class="nav-item mb-3")
      a(class="nav-link" href="#projects") Projects
    li(class="nav-item mb-3")
