div(id="project_modal" class="modal fade" tabindex="-1")
  div(class="modal-dialog modal-dialog-centered modal-xl")
    div(class="modal-content")
      // - Header
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal") &times;
      div(class="modal-body")
        div(class="row justify-content-center mx-1")
          // - Images
          div(class="col-md-7 col-sm-12 align-items-center my-auto")
            div(id="image_carousel" class="carousel slide border" data-ride="carousel" data-interval="false")
              div(id="images" class="carousel-inner")
              a(class="carousel-control-prev" href="#image_carousel" data-slide="prev")
                span(class="carousel-control-prev-icon" style="filter: invert(50%);")
              a(class="carousel-control-next" href="#image_carousel" data-slide="next")
                span(class="carousel-control-next-icon" style="filter: invert(50%);")
          // - Info
          div(class="col-md-5 col-sm-12 align-items-start my-3")
            h5(id="project_name" class="mb-2")
            table(class="table table-sm small table-light mb-3")
              each info in ["role", "tech", "language"]
                tr
                  td(class="text-muted font-weight-light text-uppercase" style="white-space: nowrap; width: 1%;") #{info}:
                  td(class="text-info" id=info)
            nav(class="mb-3")
              div(class="nav nav-tabs")
                a(class="nav-item nav-link active text-muted" data-toggle="tab" href="#nav-experience") Experience
                a(class="nav-item nav-link text-muted" data-toggle="tab" href="#nav-about") About
                a(class="nav-item nav-link text-muted" data-toggle="tab" href="#nav-challenges") Challenges
            div(class="tab-content")
              div(class="tab-pane fade show active" id="nav-experience")
                ul(id="experience" class="small pl-4")
              div(class="tab-pane fade" id="nav-about")
                small(id="description" style="white-space: pre-line")
              div(class="tab-pane fade" id="nav-challenges")
                small(id="challenges" style="white-space: pre-line")
          // - Footer
      div(class="modal-footer")
        a(href="mailto:jewong42@outlook.com" class="btn btn-outline-info") Ask a Question
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close