div(class="modal fade" id="project_modal" tabindex="-1")
  div(class="modal-dialog modal-dialog-centered modal-lg")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal") &times;
      div(class="modal-body")
        div(class="row m-2")
          div(class="col-7")
            div(id="project_media" class="carousel slide" data-ride="carousel" data-interval="false")
              div(class="carousel-inner")
                //- Todo: Replace hard-coded images with sql data.
                div(class="carousel-item active")
                  img(class="d-block w-100" src="https://via.placeholder.com/350x350")
                div(class="carousel-item")
                  img(class="d-block w-100" src="https://via.placeholder.com/350x250")
                div(class="carousel-item")
                  img(class="d-block w-100" src="https://via.placeholder.com/350x350")
                //-
              a(class="carousel-control-prev" href="#project_media" data-slide="prev")
                span(class="carousel-control-prev-icon")
              a(class="carousel-control-next" href="#project_media" data-slide="next")
                span(class="carousel-control-next-icon")
          div(class="col-5")
            h4(id="name" class="mb-3")
            table(class="table table-sm small table-light")
              each element in ["role", "tech", "language"]
                tr
                  td(class="text-muted font-weight-light text-uppercase") #{element}
                  td(class="text-info" id=element)
            small(id="descrption")
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close