div(id="projects" class="container")
    div(class="jumbotron bg-transparent text-center pb-0 mb-3")
      h1(class="display-4") Selective Projects
      hr
    div(class="container w-75 py-3")
      div(class="row justify-content-between")
        div(class="col-auto mb-4")
          div(class="card" style="width: 240px; height: 496px")
            a(href="#")
              img(class="card-img-top border" src="images/liftbuddy.png" style="filter: alpha(opacity=50);" alt="Card image cap")
            div(class="card-body d-flex flex-column")
              h5(class="card-title") LiftBuddy
              p(class="card-text small text-muted") Jan - May 2019
              p(class="card-text") An android app designed to help users track their workouts.
              button(class="btn btn-primary text-capitalize mt-auto" type="submit") More info
        div(class="col-auto mb-4")
          div(class="card" style="width: 240px; height: 496px")
            a(href="#")
              img(class="card-img-top border" src="images/dungeongame.png" alt="Card image cap")
            div(class="card-body d-flex flex-column")
              h5(class="card-title mb-0") Dungeon Game
              p(class="card-text small text-muted") Jan - May 2019
              p(class="card-text") A multiplayer, dungeon crawler with turn-based gameplay and procedurally generated maps.
              button(class="btn btn-primary text-capitalize mt-auto" type="submit") More info
        div(class="col-auto mb-4")
          div(class="card" style="width: 240px; height: 496px")
            a(href="#")
              img(class="card-img-top border" src="images/gatorrent.png" alt="Card image cap")
            div(class="card-body d-flex flex-column")
              h5(class="card-title mb-0") GatorRent
              p(class="card-text small text-muted") Jan - May 2019
              p(class="card-text") A web app designed as a hub for users to list and inquire about rental properties near SFSU.
              button(class="btn btn-primary text-capitalize mt-auto" type="submit") More info
        div(class="col-auto mb-4")
          div(class="card" style="width: 240px; height: 496px")
            a(href="#")
              img(class="card-img-top border" src="images/chessmake.png" alt="Card image cap")
            div(class="card-body d-flex flex-column")
              h5(class="card-title mb-0") ChessMake
              p(class="card-text small text-muted") Jan - May 2019
              p(class="card-text") A web app designed as a hub where users can chat, create and join game lobbies to play chess.
              button(class="btn btn-primary text-capitalize mt-auto" type="submit") More info