div(id="skills-and-education" class="row h-100")
  div(class="row my-auto w-100")
    div(id="skills" class="card mx-auto w-75 mb-5")
      div(class="card-body")
        h5(class="card-title") Experienced full stack Android, Unity, and web application developer. 
        p Worked on four concurrent software engineering projects within three months — Three projects as a front-end lead and one as an independent, full stack developer.
        hr(class="my-3 mx-5")
        p Proficient with Java, C#, and HTML. <br> Familiar with Kotlin, Python, SQL, C++, CSS, and Javascript. <br> Worked with Unity, Android Studio, Node, Flask, Amazon Web Service, Firebase, Bootstrap, Pug, and Jinja2.
    div(id="education" class="card mx-auto w-75 mb-5")
      div(class="card-body")
        h5(class="card-title") Computer science graduate.
        p Former college dropout who went back to school to complete 62 computer science or upper-division units in my last 3 semesters while working various part-time jobs and raising my GPA from a 1.8 to a 3.2.
        div(id="school" class="row mx-auto w-75 text-center")
          div(class="card text-white bg-info mw-50 mx-2")
            div(class="card-header") City College of San Francisco
            div(class="card-body")
              small(class="card-text") Associate's degree, Computer Science <br> 2014 - 2018
          div(class="card text-white bg-info mw-50 mx-2")
            div(class="card-header") San Francisco State University
            div(class="card-body")
              small(class="card-text") Bachelor of Science - BS, Computer Science <br> 2018 - 2019