div(id="title" class="container")  
  div(class="jumbotron bg-transparent text-center")
    img(src="/images/thumbnails/profile.jpg" class="rounded-circle border border-light shadow-sm" style="height:auto; width: 15%")
    h1(class="display-4") Jerry Wong
    p(class="lead") Computer science graduate from San Francisco State, specializing in android, game, and web development.
    hr(class="my-4")
    p(class="lead")
      a(class="mx-2" href="#intro")
        img(src="/images/icons/GitHub-Mark-64px.png" class="rounded-circle" style="height:auto; width: 32px")
      a(class="mx-2" href="#intro")
        img(src="/images/icons/In-Blue-72@2x.png" class="rounded-circle" style="height:auto; width: 32px")