extends bases/layout.pug

block content
    include includes/title.pug
    include includes/skills-and-education.pug
    include includes/projects.pug
    include includes/projects-modal.pug
    include includes/about.pug