html
  head
    include ../includes/head.pug
  body
    div(class="container-fluid")
      div(class="row h-100")
        div(class="col-md-2 h-100 shadow")
          include ../includes/navigation.pug
        div(id="content" class="col-md-10 h-100" data-spy="scroll" data-target="#nav" data-offset="0" style="overflow-y: scroll;")
          block content

script.
  $("#nav a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $("#content").animate({
        scrollTop: $(hash).offset().top
      }, 2000, function(){
      });
    }
  });

  $('#project_modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var name, element;
    $(button[0].attributes).each(function() {
      if (this.nodeName.includes("data")) {
        name = this.nodeName.slice(5);
        element = "#" + name;
        $(element).text(button.data(name));
      } 
    });
  })

